<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<body class="Total">
  <div class="row">
    <center>
      <div class="col-md-4" style="padding: 0;">
        <%= image_tag placement.plato.plato_img.url(:plato_show), class: "imagen-show" %>
      </div>
    </center>
    <div class="col-md-8" style="padding: 0">
      <p style="margin: 0; font-size:40px;"><%= placement.plato.nombre %> x <%= placement.cantidad %></p>
      <p style="margin: 0; font-size:20px;"><i class="fas fa-dollar-sign"></i>     <%= placement.precio_total %></p>
      <p style="margin: 0; font-size:20px;"><i class="fas fa-users"></i>     <%= placement.plato.cantidad_personas %></p>
      <p style="margin: 0; font-size:15px; max-width: 100%;"><%= placement.plato.descripcion %></p>
      <%= link_to '<button class = "boton"><i class="fas fa-minus"></i></button>'.html_safe, placement_disminuir_path(:id => placement), method: :post %>
      <%= link_to '<button class = "boton"><i class="fas fa-plus"></i></button>'.html_safe, placement_aumentar_path(:id => placement), method: :post %>
      <%= link_to '<button class = "boton"><i class="fas fa-trash-alt"></i></button>'.html_safe, placement, method: :delete, data: {confirm: 'Se eliminará el item del pedido, ¿estás seguro?'} %>
    </div>
  </div>
</body>
